<!-- wp:template-part {"slug":"header","theme":"homey","area":"uncategorized"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"right":"0","left":"0"},"blockGap":"0"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-right:0;padding-left:0"><!-- wp:group {"layout":{"type":"constrained"}} -->
    <div class="wp-block-group"><!-- wp:heading {"level":1} -->
    <h1 class="wp-block-heading">Cart</h1>
    <!-- /wp:heading -->
    
    <!-- wp:shortcode -->
    [woocommerce_cart]
    <!-- /wp:shortcode --></div>
    <!-- /wp:group --></div>
    <!-- /wp:group -->
    
    <!-- wp:template-part {"slug":"footer","theme":"homey","area":"uncategorized"} /-->